<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default" >
        <div class="panel-heading">
            <h4>Selected:</h4>
        </div>
        <div class="panel-body" style="height: 300px;overflow:auto;">

                <div class="row" ng-repeat="z in mSelected track by $index">
                    <div class="col-md-offset-1 col-md-8">
                    <div class="thumbnail">
                        {{z.name}}<a class="close" ng-click="dele(z)">X</a>
                    </div>
                    </div>
                </div>

        </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Ingredients Used:</h4>
            </div>
            <div class="panel-body">
            <ul>
                <li ng-repeat="m in list.sort() track by $index">{{m}}

                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Today's Special!</h1>
            </div>
            <div class="panel-body">
                <div class="col-md-4 thumbnail" ng-repeat="x in recipes track by $index">
                    <button class="btn btn-default btn-link btn-block" ng-click="sele(x)"/>
                        <h4>{{x.name}}</h4>
                    </button>
                    <img src="./thumb.jpg" title="*{{x.ingredients.sort().join('\n*')}}" data-toggle="popover" data-trigger="hover" style="width:150px;height:150px" />

                    <ul class="sr-only">
                        <li ng-repeat="y in x.ingredients.sort() track by $index" with="20">
                            {{y}}
                        </li>
                    </ul>
                    <script>
                        $(document).ready(function(){
                            $('[data-toggle="popover"]').popover();
                        });
                    </script>
                </div>

            </div>
        </div>

    </div>
</div>

